/*navigation*/
@media only screen and (max-width:950px){
 #navbar{
    flex-direction: column;
} 
#logo img{
    height: 70px; 
   width: 100px;
   margin: 3px 5px;
}
#contact-box form{
    width: 80%;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}
.btn{
    padding: 4px 4px;
    font-size: 13px;
}
/*home section*/
#home p{
    font-size: 1.2rem;
    
}

#home{
    padding: 3px 63px;
}

/*service section*/
#services{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* #services .box{
    
} */
/*client section*/
#clients{
    overflow: hidden;
}
}

/*contact us section*/


/*footer*/
@media only screen and (max-width:600px){
    #home::before{
        height:675px;
    }
}
@media only screen and (max-width:800px) {
    

    #clients{
        flex-wrap: wrap;
    }
    #client-section{
        height: 720px;
    }
    #client-section::before{
        height: 722px;
    }
}
/* utility classes */
.h-primary{
    font-size: 1.6rem;
}

@media only screen and (max-width:1170px){
    .container{
        height:300px;
    }
}
@media only screen and (max-width:1000px){
    .container{
        height:250px;
    }
}
@media only screen and (max-width:774px){
    .container{
        height:200px;
    }
}
@media only screen and (max-width:450px){
    .container{
        height:160px;
    }
}
@media only screen and (max-width:330px){
    .container{
        height:130px;
    }
}
@media only screen and (max-width:410px){
    #clients .client-item img{
        height: 187px;
        width: 91px;
    }
}
@media only screen and (max-width:380px){
    #navbar ul li{
        font-size: 1px;
    }
}