/*css reset*/
*{
    margin: 0;
    padding: 0;
}
/*css variables*/
:root{
    --navbar-height:59px;
}
/*navigation bar*/
#navbar{
    display: flex;
    align-items: center;
}
/* navigation bar:logo image */
#logo{
     margin: 34px 56px;
}
#logo img{
    height: 25%;
    width: 15%;
    margin: 34px 34px;
}
/*navigation bar:list styling*/